nav {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  height: 80px;
  background-color: white;
  z-index: 2;
}
.nav-item {
  font-weight: bold;
  transition: all ease 0.7s;
  background-color: transparent;
  margin: 0px 15px 0px 15px;
}
button {
  background-color: white !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 10px 20px 10px 20px !important ;
}
.bottom-nav{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.active-link{
  color: #1DB954 !important;
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
}
