@media only screen and (max-width: 750px) {
    .MuiTypography-h1 {
        font-size: 28px !important;
    }
    .MuiTypography-h2{
        font-size: 26px !important;
    }
    .MuiTypography-h3{
        font-size: 24px !important;
    }
    .MuiTypography-h4{
        font-size: 20px !important;
    }
    .MuiTypography-h5{
        font-size: 18px !important;
    }
}
